<p>Hey <strong>{{name}}</strong>,</p>
<p><strong>{{studentName}}</strong>
  has not finished all the tasks till the deadline on project:
  <strong>{{projectName}}</strong></p>
<p>
  <a href='{{url}}'>Check out the project and it's current status.</a>
</p>