<p>Hey <strong>{{name}}</strong>,</p>
<p>
  You have not not finished all tasks till the deadline on project:
  <strong>{{projectName}}</strong></p>
<p>Please check if you forgot to change the status of your tasks and contact
  your teacher.</p>
<p>
  <a href='{{url}}'>Check out the project and it's current status.</a>
</p>